.Theme{
    --accent:#517FB5D9;
    --dark:#313131;
    --background-color: white;
    --text-base: var(--dark);
    --text-accent:var(--accent);
    --text-light:white;
    --input-bg: #E9E9E9;
}
  
